@import "fonts";

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	padding: 0;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

body {
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	color: #ffffff;
	@extend %ubuntu-light
}

.container {
	max-width: 1270px;  // На 30px больше чем на макете т.к. мы еще по бокам закинем паддинги 
	padding: 0 15px;
	margin: 0 auto;
}

.page-section {
	min-height: 100vh;
	background-image: url('../images/page_bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: relative;
	padding: 74px 0 50px;
}

.title {
	@extend %sf-regular;
	font-size: 44px;
	line-height: 53px;
	padding-left: 25px;
	margin-bottom: 55px;
}

.scroll-btn {
	padding: 13px 0 30px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}